# PostgreSQL
POSTGRES_DB=kidtask
POSTGRES_USER=kidtask
POSTGRES_PASSWORD=secret

# Database connection
DATABASE_URL=postgres://kidtask:secret@db:5432/kidtask?sslmode=disable

# Server
SERVER_ADDR=:8080

# Auth
JWT_SECRET=supersecretkey123

# Admin
ADMIN_SECRET=admin
