@import './main.css';

body {
  background-color: var(--default-bg);
  color: var(--default-txt);
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.landing-page {
  background-color: var(--default-bg);
  color: var(--default-txt);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing-button {
  font-size: 0.7em;
  border: none;
  padding: 1em 2em;
  margin: 0.7em;
  background-color: var(--default-sub);
  color: var(--default-bg);
  border-radius: 0.8em;
  text-decoration: none;
}
  .landing-button:hover {
    background-color: var(--accent-color);
    color: var(--default-bg);
  }

 .landing-image-block {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 0;
    padding: 1em;
    flex-grow: 1;
    text-align: center;
    min-height: 20em;
    height: max-content;
    background-image: url('58bd749d40510cc00ca617091412daa0.jpg');
    font-size: 1.5em;
  }

  .landing-image-block button {
    border: none;
    padding: 1em 2em;
    margin: 1em;
    background-color: var(--default-sub);
    color: var(--default-bg);
    border-radius: 1.2em;
  }

    .landing-image-block button:hover {
      background-color: var(--accent-color);
      color: var(--default-bg);
    }

  .landing-image-block h2 {
    flex-grow: 1;
  }

  .landing-image-block h1 {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 5.5em;
    margin-bottom: 0.2em;
  }

  .landing-image-block p {
    color: var(--default-sub);
  }

.landing-button-block {
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-bottom: 3em;
  justify-content: center;
}

.kid-font {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: var(--accent-color);
  z-index: 1;
}

.about {
  margin: 5px;
  padding: 5px;
  color: var(--default-sub);
  background-color: var(--default-bg);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.global-footer {
  background-color: var(--default-bg);
  color: var(--default-sub);
}

.about p {
  margin: 0.5em 0;
}
